@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: 'Circular', 'Roboto', Arial, Helvetica, sans-serif;
}

html, body{
  min-height: 100%;
  min-width: 100%;
  background-color:#404040;
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  z-index: 999999;
}

@-ms-viewport{
  width: device-width;
}